html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

section {
    min-width: 1600px;
    min-height: 900px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("6.png");
    z-index: 0;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
}

section div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
section.zoomed{
    zoom: 110%;
}
.anime1{
    animation-name: rotate--180;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.anime3{
    animation-name: rotate-180;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.anime5{
    animation-name: rotate--180;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
section div:nth-child(5) {
    width: 100%;
    background-image: url("5.png");
}

section div:nth-child(4) {
    z-index: 1;
    background-image: url("4.png");
}

section div:nth-child(3){
    z-index: 2;
    background-image: url("3.png");
}
section div:nth-child(2) {
    z-index: 2;
    background-image: url("2.png");
}
section div:nth-child(1) {
    z-index: 2;
    background-image: url("1.png");
}

@keyframes rotate--180 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}
@keyframes rotate-180 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}
